@charset "utf-8";
/* CSS Document */
/* Fonts */
/* Files */
@font-face {
    font-family: "Gill Sans Nova";
    src: url("Font/GILLSANSNOVA.TTF");
}
@font-face {
    font-family: "Nasalization";
    src: url("Font/NASALIZATION-RG.TTF");
}
@font-face {
	font-family: "Helvetica Neue Bold";
	src: url("Font/HelveticaNeueBold.ttf");
}

/* Source Sans */

@font-face {
	font-family: "Source Sans Pro Black ";
	src: url("Font/Source_Sans_Pro/SourceSansPro-A.ttf");
}
@font-face {
	font-family: "Source Sans Pro Black Italic";
	src: url("Font/Source_Sans_Pro/SourceSansPro-A.ttf");
}
@font-face {
	font-family: "Source Sans Pro Bold";
	src: url("Font/Source_Sans_Pro/SourceSansPro-A.ttf");
}
@font-face {
	font-family: "Source Sans Pro Bold Italic";
	src: url("Font/Source_Sans_Pro/SourceSansPro-A.ttf");
}
@font-face {
	font-family: "Source Sans Pro Extra Light";
	src: url("Font/Source_Sans_Pro/SourceSansPro-A.ttf");
}
@font-face {
	font-family: "Source Sans Pro B";
	src: url("Font/Source_Sans_Pro/SourceSansPro-A.ttf");
}
@font-face {
	font-family: "Source Sans Prock";
	src: url("Font/Source_Sans_Pro/SourceSansPro-A.ttf");
}
@font-face {
	font-family: "Source Sans Pro B";
	src: url("Font/Source_Sans_Pro/SourceSansPro-A.ttf");
}
@font-face {
	font-family: "Source Sans Pro Bl";
	src: url("Font/Source_Sans_Pro/SourceSansPro-A.ttf");
}
@font-face {
	font-family: "Source Sans Pro B";
	src: url("Font/Source_Sans_Pro/SourceSansPro-A.ttf");
}
@font-face {
	font-family: "Source Sans Pro Black";
	src: url("Font/Source_Sans_Pro/SourceSansPro-A.ttf");
}
@font-face {
	font-family: "Source Sans Pro Black";
	src: url("Font/Source_Sans_Pro/SourceSansPro-A.ttf");
}

/* Uni Sans */ /* License [Font/Uni_Sans/FFF_EULA_License.pdf] */

@font-face {
	font-family: "Uni Sans Thin";
	src: url("Font/Uni_Sans/Uni Sans Thin.otf");
}
@font-face {
	font-family: "Uni Sans Thin Italic";
	src: url("Font/Uni_Sans/Uni Sans Thin Italic.otf")
}
@font-face {
	font-family: "Uni Sans Heavy";
	src: url("Font/Uni_Sans/Uni Sans Heavy.otf");
}
@font-face {
	font-family: "Uni Sans Heavy Italic";
	src: url("Font/Uni_Sans/Uni Sans Heavy Italic.otf")
}


/* Imported font */

/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* */

/* End Font */

.container {
	background-color: #FFFFFF;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.row {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: inline-block
}
.row.blockDisplay {
	display: block;
}
.column_half {
	width: 50%;
	float: left;
	margin-top: 0px;
}
.columns {
	width: 25%;
	float: left;
	font-family: "Source Sans Pro";
	color: #A5A5A5;
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
.row .columns p {
	padding-left: 10%;
	padding-right: 10%;
}
.container .columns h4 {
	text-align: center;
	color: #01B2D1;
}

.row .columns:hover {
	height: 35%;
	border: 4px solid rgba(71,71,71,1.00);
	border-radius: 20px;
	background-color: rgba(216,44,47,1.00);
	width: 24%;

}

.primary_header {
	width: 100%;
	background: linear-gradient(75deg, #3CA2BD, rgb(0,0,255));
	padding-top: 10px;
	padding-bottom: 10px;
	clear: left;
	border-bottom: 2px solid #2C9AB7;
	border: groove;
	border-right-color: rgb(255,0,0);
	border-left-color: rgb(255,0,0);
	border-top-color: rgb(255,0,0);
	border-bottom-color: rgb(255,0,0);
	border-radius: 10px 10px 0% 0%;
	border-style: ridge;
	
}
.secondary_header {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: url("../images/1 rouge.png");
	clear: left;
	border: solid;
	border-radius: 0% 0% 200px 200px / 0% 0% 270px 270px;
	border-style: solid;
}
.container .secondary_header ul {
	margin-top: 0%;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	width: 100%;
}
.secondary_header ul li {
	list-style: none;
	float: left;
	margin-right: auto;
	margin-top: 0px;
	font-weight: normal;
	color: #FFFFFF;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: center;
	width: 16%;
	transition: all 0.3s linear;
}
.secondary_header ul li:hover {
	cursor: pointer;
}
.left_article {
	background-color: #FFFFFF;
	width: 60%;
	float: left;
	font-family: "Source Sans Pro";
	color: #343434;
	padding-bottom: 15px;
}
.noDisplay {
	display: none;
}
.container .left_article h3 {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 5%;
	font-weight: bold;
	text-transform: uppercase;
}
.container .left_article p {
	padding-left: 5%;
	padding-right: 5%;
	text-align: justify;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 15px;
	color: #B3B3B3;
	height: auto;
}
.right_article {
	width: 40%;
	float: left;
	background-color: #F6F6F6;
}
.container .right_article ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.right_article ul li {
	font-family: "Source Sans Pro";
	list-style: none;
	text-align: center;
	background-color: #B3B3B3;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 0px;
	transition: all 0.3s linear;
}
.right_article ul li:hover {
	cursor: pointer;
}
.footer {

}
.title {
	font-weight: bold;
	font-style: normal;
	font-family: "Nasalization";
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 2px;
}
.placeholder {
	/* [disabled]max-width: 400px;
*/
	/* [disabled]max-height: 200px;
*/
	width: 100%;
	padding-top: 13px;
	/* [disabled]padding-left: 19px;
*/
	padding-bottom: 0px;
	height: 100%;
	padding-right: 4px;
}
.left_half {
	background-color: #01B2D1;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
}
.container .row.blockDisplay .column_half.left_half {
}
.container .row.blockDisplay .column_half.left_half {
}


.container .column_half.left_half h2 {
    color: #FFFFFF;
    text-align: center;
}
.row.blockDisplay .column_half.left_half .column_title {
}

.right_half {
	background-color: #01B2D1;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
}
.column_title {
	padding-top: 25px;
	padding-bottom: 25px;
	font-family: 'Arial Black';
}

#column_title_spec {
	text-shadow: -5px -5px rgba(51,226,59,1.00);
}

#column_title_spec2 {
	text-shadow: 5px -5px rgba(51,226,59,1.00);
}

#column_title_spec:hover {
	text-shadow: 5px -5px rgba(51,226,59,1.00);
}

#column_title_spec2:hover {
	text-shadow: -5px -5px rgba(51,226,59,1.00);
}

.copyright {
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    border-top-width: 2px;
    font-family: 'Gill Sans Nova';
}
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

div {
}

@media (max-width: 320px) {
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
}
.placeholder {
	width: 100%;
	margin-top: 22PX;
	margin-right: 0px;
	margin-bottom: 22PX;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	max-width: 400px;
	max-height: 200px;
	height: auto;
}
.columns {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0PX;
	padding-right: 0PX;
	padding-bottom: 0PX;
	padding-left: 0PX;
}
.columns p {
	padding-left: 10px;
	padding-right: 10px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
.copyright {
	padding-top: 20px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.container .left_article h3 {
	margin-top: 30px;
}
.rsse .rsse_2 .social_icon img {
	width: 80%;
}
.container .secondary_header {
}
}

/* MEDIA */

@media (min-width: 321px) and (max-width: 768px) {
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}

.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
	padding-bottom: 25px;
}
.placeholder {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.columns {
	width: 100%;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.columns p {
	padding-left: 14px;
	padding-right: 14px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
}

@media (min-width: 769px) and (max-width: 1000px) {
.secondary_header {
	overflow: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
.secondary_header ul li {
	margin-top: 10px;
	margin-right: 7%;
	margin-bottom: 10px;
	margin-left: 7%;
	font-family: 'Arial';
}
.left_article {
	height: auto;
}
.right_article {
	height: auto;
	padding-bottom: 27px;
}
.placeholder {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.columns {
	width: 50%;
	float: left;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.container .columns p {
	padding-left: 25px;
	padding-right: 25px;
}
}

@media (min-width: 1001px) {
}
.thumbnail {
	width: 100px;
	border-radius: 200px;
	height: 100px;
	margin-left: auto;
	border: 3px solid white;
}
.thumbnail_align {
	text-align: center;
}
.socially {
	text-align: center;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	background-color: #414141;
	clear: both;
	overflow: auto;
}

.socially_2 {
	text-align: center;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	border-radius: 0 0 10px 10px;
	background-color: #414141;
	clear: both;
	overflow: auto;
}

.socially_icon {
	width: 25%;
	float: left;
	transition: all 0.3s linear;
	line-height: 0px;
	padding-top: 7px;
	border-color: white;
	border-width: 12px;
}
.container .socially .socially_icon:hover {
	cursor: pointer;
	opacity: 0.5;
	color: rgb(18, 255, 5);
	border: 3px;
}

.rsn_header {
	width: 100%;
	padding-top: 8px;
	padding-bottom: 54px;
	background-color: rgba(0,0,0,0.66);
	clear: left;
	border: solid;
	border-radius: 0% 0% 20px 20px;
	border-style: solid;
}
.container .rsn_header ul {
	margin-top: 0%;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	width: 100%;
}
.rsn_header ul li {
	list-style: none;
	float: left;
	margin-right: auto;
	margin-top: 0px;
	font-weight: normal;
	color: #FFFFFF;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: center;
	width: 16%;
	transition: all 0.3s linear;
}
.rsn_header ul li:hover {
	cursor: pointer;
}

#menu {
}

img {
	font-family: 'Lucida Console';
	color: red;
}

marquee {
	font-family: 'Helvetica Neue Bold';

}

p {
	font-family: 'Arial';
}

h4 {
	font-family: 'Gill Sans Nova';
	letter-spacing: 2px;
	font-size: 25px;
}

h3 {
	font-family: 'Arial Black';
}

.title_font {
	font-family: 'Arial';
	letter-spacing: 3px;
	font-size: 20px;
}

h2 {
	font-family: 'Arial';

}

/* a hyperlink */

a:link {
  color: rgba(0,48,162,1.00);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgba(89,89,89,1.00);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
	color: rgba(0,21,255,1.00);
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: rgba(62,187,47,1.00);
	background-color: transparent;
	text-decoration: underline;
}

.button_round_clickable {
	border-radius: 100% 100% 100% 100%;
	width: 100px;
	border-radius: 200px;
	height: 100px;
	margin-left: auto;
	font-family: 'Arial-Balck'
}

.button_round_clickable:hover {
	border-radius: 100px;
	border-left-style: solid;
	border-left-width: 3px;
	border-right: 3px solid;
	border-bottom: 3px solid;
	border-top: 3px solid;
	color: rgb(18, 255, 5);
}

.button365 {
	background-image: url("../images/1 rouge.png");
    font-family: 'Arial Black';
    transform: rotate(-25deg);
}

.button_ds {
	box-shadow: 50px 6px 0px -28px #2339b8;
	background-color:#1D31A5;
	border-radius:7px;
	border:2px solid #646499;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:9px 30px;
	text-decoration:none;
	text-shadow:2px 1px 2px #2C54F5;
}
.button_ds:hover {
	background-color:#D1363B;
    border-right: none;
    border-radius:10px 0px 0px 10px;
}
.button_ds:active {
	position:relative;
	top:1px;
}

h1 {
	font-family: 'Arial';

}

.progress-bar {
	height: 26px;
	position: relative;
	background: #414141;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 0px 25px 25px 0px;
	padding: 2px;
	/*/box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);/*/
}

.progress-bar > span {
	display: block;
	height: 100%;
	border-radius: 0px 20px 20px 0px;
	background-color: rgba(63,88,176,1.00);
	background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
	/*/box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);/*/
	position: relative;
	overflow: hidden;
}

/* IMAGE filter */
.saturate {
    filter: saturate(3);
}
.grayscale {
    filter: grayscale(100%);
}
.contrast {
    filter: contrast(160%);
}
.brightness {
    filter: brightness(0.25);
}
.blur {
    filter: blur(3px);
}
.invert {
    filter: invert(100%);
}
.sepia {
    filter: sepia(100%);
}
.huerotate {
    filter: hue-rotate(180deg);
}
.rss.opacity {
    filter: opacity(50%);
}
/* END image filter */

#abrevation:after {
    content: attr(abrv);
}

#abrevation:hover:after {
    content: attr(title);
}

#paragraph {
	text-align: justify-all;
}

.lang {
	font-family: Arial;
	color: rgb(213,16,19);
	letter-spacing: normal;
	font-weight: 600
}